<section class="collectionList">
    <h2 class="collectionList__title">{{ section.settings.section_title }}</h2>
    <span class="collectionList__description">{{ section.settings.section_description }}</span>
    <div class="collectionList__items">
        {% for collection in collections %}
            <a href="{{ collection.url }}" class="collectionList-collection">
                <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" class="collectionList-collection__image">
                <div class="collectionList-collection__description">
                    <div class="collectionList-collection__description-item">
                        <h2 class="collectionList-collection__title">{{ collection.title }}</h2>
                        <span class="collectionList-collection__text">{{ collection.description }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "collection-list",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Our collections"
        },
        {
            "type": "text",
            "id": "section_description",
            "label": "Section Description",
            "default": "I'm baby humblebrag lyft mustache vegan pickled ennui shabby chic fanny pack,"
        }
    ]
}
{% endschema %}